<header>
  <mat-toolbar>
    <mat-toolbar-row>
      <a routerLink="/movies">Films</a>
      <a routerLink="/">Accueil</a>
      <a routerLink="/actors">Acteurs</a>
    </mat-toolbar-row>
  </mat-toolbar>
</header>
