<section>
  <div class="firstColomun">
    <H2>Liste des acteurs :</H2>
    <mat-chip-list aria-label="Fish selection" *ngFor="let actor of actors">

      <mat-chip color="primary"
                selected>{{actor.name}}
      </mat-chip>

      <mat-icon aria-hidden="false"
                aria-label="Example home icon">search
      </mat-icon>

      <mat-icon aria-hidden="false"
                aria-label="Example home icon"
                (click)="deleteActor(actor.id)">restore_from_trash
      </mat-icon>
    </mat-chip-list>
  </div>


  <div class="secondPage">
    <h2>Création d'un acteur :</h2>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Nom de l'acteur</mat-label>
        <label>
          <input matInput placeholder="Robert de Niro">
        </label>
      </mat-form-field>

      <button mat-button (click)="createActor()">Envoyer</button>

    </form>
  </div>
</section>


