mat-icon {
  font-size: 30px;
  margin-left: 20px;
}

.firstColomun {
  float: left;
  width: 50%;
  height: 100vh;
}

.secondPage {
  background-color: #FFF7F8;
  float: left;
  width: 50%;
  height: 100vh;
}
